/* Hello */
/* font face */
@font-face {
  /* AiO Vazir font */
  font-family: vazir-vr;
  src: url("../font/Vazir-Variable.woff") format("woff");
  src: url("../font/Vazir-Variable.ttf") format("truetype");
  src: url("../font/Vazir-Variable.eot") format("eot");
  src: url("../font/Vazir-Variable.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
.NF {
  font-family: vazir-vr;
  font-size: 25px;
}
.NI {
  font-family: "vazir-medium";
  font-weight: 500;
  font-size: 21px;
  margin-right: 25px;
}
.nbg {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 101, 133, 1) 0%,
    rgba(255, 211, 165, 1) 90%
  );
}
/* h4 h5 setting */
h4,
h5 {
  text-align: right;
  font-family: vazir-vr;
  font-weight: bold;
  font-size: 25px;
}
/* Website Title */
.mc-5 {
  margin-top: 4.9rem !important;
}
/* search bar setting */
.mj-5{
  margin-top: 7.4rem !important;
}
/* card body setting */
.cb {
  font-family: vazir-vr;
  font-size: 19px;
  text-align: right;
}
/* Right Align */
.RA {
  text-align: right;
}
/* LA Left Alignment */
.LA{
  align-items:flex-end;
}
/* center alignment */
.CA{
  justify-content: center;
}
.mxh {
  max-height: 350px;
}
